---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: falco
  namespace: security
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://falcosecurity.github.io/charts
      chart: falco
      version: 7.0.2
      sourceRef:
        kind: HelmRepository
        name: falco
        namespace: flux-system
      interval: 15m
  values:
    metrics:
      enabled: true
    falcosidekick:
      enabled: true
      config:
        discord:
          enabled: true
        alertmanager:
          enabled: true
    grafana:
      dashboards:
        enabled: true
