---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  - ./amd-gpu/ks.yaml
  - ./cilium/ks.yaml
  - ./coredns/ks.yaml
  - ./descheduler/ks.yaml
  - ./irqbalance/ks.yaml
  - ./k8tz/ks.yaml
  - ./metrics-server/ks.yaml
  - ./nfs-external-provisioner/ks.yaml
  - ./openebs/ks.yaml
  - ./reloader/ks.yaml
  - ./reflector/ks.yaml
  - ./spegel/ks.yaml
  - ./talos-backups/ks.yaml
