kubectl    1.37.0
python     3.14.7
kubectx    latest
kubens     latest
gh         latest
golang     latest
sops       latest
pre-commit latest
talosctl   latest
uv         latest
flux-operator latest
flux-operator-mcp latest
