---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: mimir
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 5.8.0
  url: oci://ghcr.io/grafana/helm-charts/mimir-distributed
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mimir
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: mimir
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    mimir:
      structuredConfig:
        common:
          storage:
            backend: s3
            s3:
              endpoint: s3.68cc.io:443
              bucket_name: mimir
              region: us-east-1
              access_key_id: ${S3_ACCESS_KEY_ID}
              secret_access_key: ${S3_SECRET_ACCESS_KEY}
              insecure: false
        blocks_storage:
          s3:
            bucket_name: mimir
        alertmanager_storage:
          s3:
            bucket_name: mimir
        ruler_storage:
          s3:
            bucket_name: mimir-ruler
        limits:
          compactor_blocks_retention_period: 30d
          ingestion_rate: 100000
          ingestion_burst_size: 200000
    metaMonitoring:
      serviceMonitor:
        enabled: true
      grafanaAgent:
        enabled: false
    # Use monolithic mode for home-lab
    minio:
      enabled: false
    nginx:
      replicas: 1
    ingester:
      replicas: 1
      persistentVolume:
        enabled: true
        storageClass: local-hostpath
        size: 10Gi
      extraEnvFrom:
        - secretRef:
            name: mimir-s3-secret
    distributor:
      replicas: 1
      extraEnvFrom:
        - secretRef:
            name: mimir-s3-secret
    querier:
      replicas: 1
      extraEnvFrom:
        - secretRef:
            name: mimir-s3-secret
    query_frontend:
      replicas: 1
      extraEnvFrom:
        - secretRef:
            name: mimir-s3-secret
    compactor:
      replicas: 1
      persistentVolume:
        enabled: true
        size: 10Gi
      extraEnvFrom:
        - secretRef:
            name: mimir-s3-secret
    store_gateway:
      replicas: 1
      persistentVolume:
        enabled: true
        size: 10Gi
      extraEnvFrom:
        - secretRef:
            name: mimir-s3-secret
    ruler:
      replicas: 1
      extraEnvFrom:
        - secretRef:
            name: mimir-s3-secret
    alertmanager:
      replicas: 1
      persistentVolume:
        enabled: true
        size: 1Gi
      extraEnvFrom:
        - secretRef:
            name: mimir-s3-secret
