---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflare-tunnel
  namespace: network
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://cloudflare.github.io/helm-charts
      chart: cloudflare-tunnel
      version: 0.3.2
      sourceRef:
        kind: HelmRepository
        name: cloudflare
        namespace: flux-system
      interval: 15m
  valuesFrom:
    - kind: Secret
      name: cloudflared-secret
      valuesKey: TUNNEL_ID
      targetPath: cloudflare.tunnelId
    - kind: Secret
      name: cloudflared-secret
      valuesKey: TUNNEL_SECRET
      targetPath: cloudflare.secret
    - kind: Secret
      name: cloudflared-secret
      valuesKey: TUNNEL_NAME
      targetPath: cloudflare.tunnelName
    - kind: Secret
      name: cloudflared-secret
      valuesKey: ACCOUNT_ID
      targetPath: cloudflare.account
  values:
    image:
      repository: mirror.gcr.io/cloudflare/cloudflared
      tag: 2025.11.1@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
    fullnameOverride: cloudflared
    nameOverride: cloudflared
    cloudflare:
      ingress:
        - hostname: "*.bth.wtf"
          originRequest:
            http2Origin: true
            originServerName: external.bth.wtf
          service: https://external.network.svc.cluster.local:443
