apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: aws-diagrams
  namespace: toolhive-system
spec:
  image: ghcr.io/awslabs/aws-diagrams-mcp
  transport: stdio
  permissionProfile:
    type: builtin
    name: network
  resources:
    limits:
      cpu: "1"
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 256Mi
