---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: services
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  - ./atuin/ks.yaml
  # - ./changedetector/ks.yaml
  - ./it-tools/ks.yaml
  - ./linkwarden/ks.yaml
  #  ./memos/ks.yaml
  - ./metamcp/ks.yaml
  # - ./n8n/ks.yaml
