---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tetragon
spec:
  interval: 30m
  chart:
    spec:
      # renovate: registryUrl=https://helm.cilium.io
      chart: tetragon
      version: 1.6.0
      sourceRef:
        kind: HelmRepository
        name: tetragon
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    tetragonOperator:
      forceUpdateCRDs: true
      prometheus:
        serviceMonitor:
          enabled: true
    tetragon:
      cri:
        enabled: true
        socketHostPath: /run/containerd/containerd.sock
      prometheus:
        serviceMonitor:
          enabled: true
