---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authelia
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      # renovate: datasource=github-releases depName=authelia/authelia
      tag: v4.39.15
      pullPolicy: Always
    ingress:
      enabled: true
      gatewayAPI:
        enabled: true
        parentRefs:
          - name: traefik-gateway
            namespace: network
        hostnamesOverride:
          - auth.68cc.io
    pod:
      kind: Deployment
      initContainers:
        init-db:
          image:
            repository: ghcr.io/onedr0p/postgres-init
            tag: 16
          envFrom:
            - secretRef:
                name: authelia-secrets
      replicas: 2
      autoscaling:
        enabled: true
    podDisruptionBudget:
      enabled: true
      minAvailable: 1
      maxUnavailable: 1
    configMap:
      theme: dark
      log:
        format: "json"
      telemetry:
        metrics:
          enabled: true
          serviceMonitor:
            enabled: true
      default_2fa_method: "webauthn"
      totp:
        secret_size: 48
        digits: 8
        allowed_algorithms:
          - "SHA1"
          - "SHA256"
          - "SHA512"
        allowed_digits:
          - 6
          - 8
      webauthn:
        enable_passkey_login: true
        display_name: "68cc.io Authenticator"
      session:
        redis:
          enabled: true
          host: "dragonflydb.databases.svc.cluster.local"
          port: 6379
          database_index: 4
      storage:
        postgres:
          enabled: true
          address: "tcp://postgres17-rw.databases.svc.cluster.local:5432"
          database: authelia
          username: authelia
          password:
            path: "/secrets/INIT_POSTGRES_PASS"
      notifier:
        smtp:
          enabled: true
          address: "submission://smtp.proton.mail.ch:587"
          sender: "Authelia <auth@bth.wtf>"
          username:
          password:
            path: "/secrets/SMTP_PASSWORD"
      identity_providers:
        oidc:
          enabled: true
    secret:
      existingSecret: authelia-secrets
