---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authelia
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      # renovate: datasource=github-releases depName=authelia/authelia
      tag: 4.39.15
      pullPolicy: Always
    ingress:
      enabled: true
      gatewayAPI:
        enabled: true
        parentRefs:
          - name: traefik-gateway
            namespace: network
        hostnamesOverride:
          - auth.68cc.io
    pod:
      kind: Deployment
      initContainers:
        - name: init-db
          image: ghcr.io/onedr0p/postgres-init:16
          envFrom:
            - secretRef:
                name: authelia-secrets
      replicas: 2
      autoscaling:
        enabled: true
    podDisruptionBudget:
      enabled: true
      minAvailable: 1
      maxUnavailable: 1
    configMap:
      theme: dark
      log:
        format: "json"
      telemetry:
        metrics:
          enabled: true
          serviceMonitor:
            enabled: true
      default_2fa_method: "webauthn"
      identity_validation:
        reset_password:
          jwt_algorithm: "HS512"
          secret:
            path: "IDENTITY_VERIFICATION_JWT_HMAC_KEY"
      totp:
        secret_size: 48
        digits: 8
        allowed_algorithms:
          - "SHA1"
          - "SHA256"
          - "SHA512"
        allowed_digits:
          - 6
          - 8
      webauthn:
        enable_passkey_login: true
        display_name: "68cc.io Authenticator"
      session:
        cookies:
          - subdomain: "auth"
            domain: "68cc.io"
        redis:
          enabled: true
          host: "dragonflydb.databases.svc.cluster.local"
          port: 6379
          database_index: 4
          password:
            disabled: true
        encryption_key:
          path: "SESSION_ENCRYPTION_KEY"
      storage:
        postgres:
          enabled: true
          address: "tcp://postgres17-rw.databases.svc.cluster.local:5432"
          database: authelia
          username: authelia
          password:
            path: "INIT_POSTGRES_PASS"
        encryption_key:
          path: "STORAGE_ENCRYPTION_KEY"
      notifier:
        smtp:
          enabled: true
          address: "submission://smtp.proton.mail.ch:587"
          sender: "Authelia <auth@bth.wtf>"
          username:
          password:
            path: "SMTP_PASSWORD"
      identity_providers:
        oidc:
          enabled: true
          hmac_secret:
            path: "OIDC_HMAC_SECRET"
      authentication_backend:
        file:
          enabled: true
          watch: true
          search:
            email: true
            case_insensitive: true
          password:
            algorithm: "argon2"
            argon2:
              variant: "argon2id"
              iterations: 10
      password_policy:
        # standard:
        #   enabled: true
        #   min_length: 12
        #   require_uppercase: true
        #   require_lowercase: true
        #   require_number: true
        #   require_special: true
        zxcvbn:
          enabled: true
    secret:
      existingSecret: authelia-secrets
      mountPath: /secrets
