---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: github-webhook
spec:
  hostnames:
    - flux-webhook.68cc.io
  parentRefs:
    - name: traefik
      namespace: network
      sectionName: websecure
  rules:
    - filters:
        - type: ExtensionRef
          extensionRef:
            group: traefik.io
            kind: Middleware
            name: security-headers
            namespace: network
        - type: ExtensionRef
          extensionRef:
            group: traefik.io
            kind: Middleware
            name: compression
            namespace: network
      backendRefs:
        - name: webhook-receiver
          port: 80
