---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  - ./grafana/ks.yaml
  - ./netdata/ks.yaml
  - ./unpoller/ks.yaml
