---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  - ./grafana/ks.yaml
  # - ./fluent-bit/ks.yaml
  # - ./mimir/ks.yaml
  - ./opentelemetry/ks.yaml
  - ./unpoller/ks.yaml
  - ./victoria-logs/ks.yaml
