---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  - ./referencegrant.yaml
  - ./grafana/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  # - ./opentelemetry/ks.yaml
  - ./thanos/ks.yaml
  - ./unpoller/ks.yaml
  # - ./victoria-logs/ks.yaml
