---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  # - ./helmrelease.yaml
  # - ./operator-helm.yaml
  - https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/main/manifests/dragonfly-operator.yaml
  - ./instance.yaml
  - ./gatus.yaml
