---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app metamcp
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      metamcp:
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16
            envFrom:
              - secretRef:
                  name: metamcp-secrets
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/metatool-ai/metamcp
              tag: 2.4.22
            envFrom:
              - secretRef:
                  name: metamcp-secrets
            resources:
              requests:
                cpu: 500m
              limits:
                memory: 6Gi
                cpu: 2
    service:
      app:
        controller: *app
        ports:
          http:
            primary: true
            port: &port 443
    route:
      app:
        hostnames: ["mcp.68cc.io"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
