---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app changedetector
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      changedetector:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/dgtlmoon/changedetection.io
              tag: 0.53.3
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
            env:
              - name: WEBDRIVER_URL
                value: http://localhost:4444/wd/hub
              - name: TZ
                value: America/New_York
              - name: DISABLE_VERSION_CHECK
                value: true
              - name: BASE_URL
                value: https://cd.68cc.io
              - name: PLAYWRIGHT_DRIVER_URL
                value: ws://localhost:3000
          browser-chrome:
            image:
              repository: selenium/standalone-chrome
              tag: "144.0"
            securityContext:
              privileged: true
            env:
              - name: VNC_NO_PASSWD
                value: 1
              - name: SCREEN_HEIGHT
                value: 1920
              - name: SCREEN_HEIGHT
                value: 1080
              - name: SCREEN_DEPTH
                value: 24
          playwright-chrome:
            image:
              repository: dgtlmoon/sockpuppetbrowser
              tag: latest
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { add: ["SYS_ADMIN"] }
            env:
              - name: SCREEN_WIDTH
                value: 1920
              - name: SCREEN_HEIGHT
                value: 1024
              - name: SCREEN_DEPTH
                value: 16
              - name: MAX_CONCURRENT_CHROME_PROCESSES
                value: 10
    service:
      app:
        controller: *app
        ports:
          http:
            primary: true
            port: &port 5000
    route:
      app:
        hostnames: ["cd.68cc.io"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      localtime:
        enabled: true
        type: hostPath
        hostPath: /etc/localtime
      datastore:
        enabled: true
        size: 20Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /datastore
      dshm:
        enabled: true
        type: hostPath
        hostPath: /dev/shm
    defaultPodOptions:
      dnsConfig:
        options:
          - { name: ndots, value: "1" }
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
