---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: network
spec:
  chartRef:
    kind: OCIRepository
    name: traefik
    namespace: network
  interval: 1h
  values:
    volumes:
      - name: botwrangler-robots-template
        mountPath: /etc/traefik/bot-wrangler/
        type: configMap
    global:
      checkNewVersion: false
    image:
      # renovate: datasource=docker depName=traefik
      tag: v3.6.5
    experimental:
      plugins:
        crowdsec-bouncer-traefik-plugin:
          moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
          # renovate: datasource=github-releases depName=maxlerebourg/crowdsec-bouncer-traefik-plugin
          version: v1.4.7
        traefikoidc:
          # renovate: datasource=github-releases depName=lukaszraczylo/traefikoidc
          moduleName: "github.com/lukaszraczylo/traefikoidc"
          version: "v0.8.1"
        clusterRatelimit:
          moduleName: "github.com/nzin/traefik-cluster-ratelimit"
          version: "v1.1.2"
        wrangler:
          moduleName: "github.com/holysoles/bot-wrangler-traefik-plugin"
          version: v0.10.1
      otlpLogs: false
    ocsp:
      enabled: true
    ports:
      web:
        port: 80
        expose:
          default: true
        protocol: TCP
      websecure:
        port: 443
        expose:
          default: true
        protocol: TCP
        http3:
          enabled: true
        tls:
          enabled: true
      metrics:
        port: 9100
        expose:
          default: false
        protocol: TCP
      # syslog-udp:
      #   port: 514
      #   expose:
      #     default: true
      #   protocol: UDP
      syslog-tcp:
        port: 514
        expose:
          default: true
        protocol: TCP
    gateway:
      annotations:
        external-dns.alpha.kubernetes.io/target: home.68cc.io
      enabled: true
      listeners:
        web:
          port: 80
          protocol: HTTP
          namespacePolicy:
            from: All
        websecure:
          port: 443
          protocol: HTTPS
          namespacePolicy:
            from: All
          certificateRefs:
            - name: 68cc-io-tls
              kind: Secret
        syslog-tcp:
          port: 514
          namespacePolicy:
            from: All
          protocol: TCP
    ingressClass:
      enabled: true
      isDefaultClass: false
    additionalArguments:
      - --accesslog=true
      - --accesslog.format=json
      - --entryPoints.web.http.redirections.entryPoint.to=websecure
      - --entryPoints.web.http.redirections.entryPoint.scheme=https
      - --entryPoints.web.http.redirections.entryPoint.permanent=true
      - --entryPoints.web.http.middlewares=network-security-headers@kubernetescrd,network-bot-wrangler@kubernetescrd,network-cluster-rate-limiter@kubernetescrd
      - --entryPoints.web.observability.accessLogs=false
      - --entryPoints.web.observability.metrics=false
      - --entryPoints.web.observability.tracing=false
      - --entryPoints.web.reuseport=true
      - --entryPoints.web.proxyProtocol=true
      - --entryPoints.web.proxyProtocol.trustedIPs=10.42.0.0/16,192.168.35.0/24
      - --entryPoints.websecure.http.middlewares=network-security-headers@kubernetescrd,network-bot-wrangler@kubernetescrd,network-cluster-rate-limiter@kubernetescrd
      - --entryPoints.websecure.proxyProtocol=true
      - --entryPoints.websecure.proxyProtocol.trustedIPs=10.42.0.0/16,192.168.35.0/24
      - --entryPoints.websecure.reuseport=true
    deployment:
      kind: DaemonSet
      revisionHistoryLimit: 3
    providers:
      kubernetesCRD:
        enabled: true
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true
        experimentalChannel: true
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: "2"
        memory: 2Gi
    service:
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: "192.168.35.15"
        service.beta.kubernetes.io/do-loadbalancer-enable-proxy-protocol: "true"
      spec:
        externalTrafficPolicy: Local
    metrics:
      prometheus:
        enabled: true
        entryPoint: metrics
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
        serviceMonitor:
          enabled: true
          enableHttp2: true
        prometheusRule:
          enabled: false
      otlp:
        enabled: false
        http:
          enabled: false
    logs:
      general:
        level: INFO
        otlp:
          enabled: false
        format: json
      access:
        enabled: true
        format: json
        otlp:
          enabled: false
        fields:
          defaultMode: keep
          names:
            ServiceName: keep
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`dash.68cc.io`)
        entryPoints:
          - websecure
    tlsOptions:
      default:
        sniStrict: true
        preferServerCipherSuites: true
        minVersion: VersionTLS13
