---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: network
spec:
  chartRef:
    kind: OCIRepository
    name: traefik
    namespace: network
  interval: 1h
  values:
    providers:
      kubernetesGateway:
        enabled: true
        experimentalChannel: false
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: false
    deployment:
      replicas: 1
      kind: Deployment
      revisionHistoryLimit: 3
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
    ports:
      web:
        port: 80
        protocol: TCP
        exposedPort: 80
      websecure:
        port: 443
        protocol: TCP
        exposedPort: 443
        tls:
          enabled: true
      tcp-514:
        port: 514
        protocol: TCP
        exposedPort: 514
      udp-514:
        port: 514
        protocol: UDP
        exposedPort: 514
      metrics:
        port: 9100
        protocol: TCP
        exposedPort: 9100
      dashboard:
        port: 8000
        protocol: TCP
        exposedPort: 8000
    service:
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: "192.168.35.16"
      spec:
        externalTrafficPolicy: Local
    metrics:
      prometheus:
        enabled: true
        entryPoint: metrics
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
    logs:
      general:
        level: INFO
      access:
        enabled: true
        format: json
        fields:
          defaultMode: keep
          headers:
            defaultMode: drop # Drop sensitive headers
