---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: network
spec:
  chartRef:
    kind: OCIRepository
    name: traefik
    namespace: network
  interval: 1h
  values:
    experimental:
      kubernetesGateway:
        enabled: true
      otlpLogs: true
    ocsp:
      enabled: true
    ports:
      websecure:
        http3:
          enabled: true
    gateway:
      enabled: true
      listeners:
        web:
          port: 80
        websecure:
          port: 443
          certificateRefs:
            - name: 68cc-io-tls
              kind: Secret
    ingressClass:
      enabled: false
      isDefaultClass: false
    deployment:
      kind: DaemonSet
      revisionHistoryLimit: 3
    providers:
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true
        experimentalChannel: true
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
    service:
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: "192.168.35.16"
      spec:
        externalTrafficPolicy: Local
    metrics:
      prometheus:
        enabled: true
        entryPoint: metrics
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
        serviceMonitor:
          enabled: true
          enableHttp2: true
        prometheusRule:
          enabled: true
      otlp:
        enabled: true
        http:
          enabled: true

    logs:
      general:
        level: INFO
        otlp:
          enabled: true
      access:
        enabled: true
        format: json
        otlp:
          enabled: true
        fields:
          defaultMode: keep
          headers:
            defaultMode: drop # Drop sensitive headers
