---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: network
spec:
  chartRef:
    kind: OCIRepository
    name: traefik
    namespace: network
  interval: 1h
  values:
    experimental:
      kubernetesGateway:
        enabled: true
      otlpLogs: true
    ocsp:
      enabled: true
    ports:
      web:
        port: 80
        expose:
          default: true
        protocol: TCP
      websecure:
        port: 443
        expose:
          default: true
        protocol: TCP
        http3:
          enabled: true
        tls:
          enabled: true
      metrics:
        port: 9100
        expose:
          default: false
        protocol: TCP
    gateway:
      enabled: true
      listeners:
        web:
          port: 80
          protocol: HTTP
        websecure:
          port: 443
          protocol: HTTPS
          certificateRefs:
            - name: 68cc-io-tls
              kind: Secret
    ingressClass:
      enabled: false
      isDefaultClass: false
    deployment:
      kind: DaemonSet
      revisionHistoryLimit: 3
    providers:
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true
        experimentalChannel: true
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: "2"
        memory: 2Gi
    service:
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: "192.168.35.16"
      spec:
        externalTrafficPolicy: Local
    metrics:
      prometheus:
        enabled: true
        entryPoint: metrics
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
        serviceMonitor:
          enabled: true
          enableHttp2: true
        prometheusRule:
          enabled: false
      otlp:
        enabled: true
        http:
          enabled: true
    logs:
      general:
        level: INFO
        otlp:
          enabled: true
      access:
        enabled: true
        format: json
        otlp:
          enabled: true
        fields:
          defaultMode: keep
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`dash.68cc.io`)
        entryPoints:
          - websecure
