---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kubernetes-container-decoder
  namespace: security
data:
  00-kubernetes_container.xml: |
    <!-- Kubernetes container log format decoder -->
    <!-- Handles format: "2025-12-31T15:44:32.855676826Z stdout F [actual message]" -->
    <!-- Extracts only the message portion, discarding timestamp, stream, and flags -->

    <decoder name="kubernetes-container">
      <prematch>[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]T[0-9][0-9]:[0-9][0-9]:[0-9][0-9]\.</prematch>
      <regex>^[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]T[0-9][0-9]:[0-9][0-9]:[0-9][0-9]\..*Z .* [FP] (.*)</regex>
      <order>log</order>
    </decoder>
