---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-decoder
  namespace: security
data:
  coredns_decoder.xml: |
    <!-- CoreDNS decoder for Kubernetes pod log format -->
    <!-- Matches after Wazuh pre-decoding extracts timestamp -->
    <decoder name="coredns-k8s">
      <prematch type="pcre2">^stdout F \[INFO\] \S+:\d+ - \d+ "</prematch>
    </decoder>

    <decoder name="coredns-k8s-query">
      <parent>coredns-k8s</parent>
      <regex offset="after_parent">^(\S+ IN \S+\.\s+\w+)</regex>
      <order>url</order>
    </decoder>
