---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-decoder
  namespace: security
data:
  coredns_decoder.xml: |
    <!-- CoreDNS decoder for Kubernetes pod log format -->
    <!-- No program_name - K8s pod logs don't have syslog program names -->
    <decoder name="coredns-k8s">
      <prematch type="pcre2">^\d+-\d+-\d+T\d+:\d+:\d+\.\d+Z stdout F \[INFO\] \S+:\d+ - \d+</prematch>
    </decoder>

    <decoder name="coredns-k8s-query">
      <parent>coredns-k8s</parent>
      <regex offset="after_parent">^ *(\S+:\d+) - (\d+) "(\S+) IN (\S+)\. (\w+)</regex>
      <order>srcip, id, query_type, query_domain, protocol</order>
    </decoder>
