---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-decoder
  namespace: security
data:
  coredns_decoder.xml: |
    <!-- CoreDNS decoder for Kubernetes pod log format -->
    <!-- Uses prematch to identify CoreDNS logs - no program_name since K8s pod logs are not traditional syslog -->
    <decoder name="coredns-k8s">
      <prematch type="pcre2">^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d+Z stdout F \[INFO\] \S+:\d+ - \d+ "</prematch>
    </decoder>

    <decoder name="coredns-k8s-query">
      <parent>coredns-k8s</parent>
      <regex offset="after_parent">^(\S+ IN \S+\.\s+\w+)</regex>
      <order>url</order>
    </decoder>
