---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-decoder
  namespace: security
data:
  coredns_decoder.xml: |
    <!-- CoreDNS decoder for Kubernetes pod log format -->
    <!-- Parent decoder (kubernetes-container) strips K8s metadata -->
    <!-- This decoder processes the extracted log field -->

    <decoder name="coredns-k8s">
      <parent>kubernetes-container</parent>
      <prematch>^\[INFO\]</prematch>
    </decoder>

    <decoder name="coredns-k8s-query">
      <parent>coredns-k8s</parent>
      <regex offset="after_parent">^(\S+ IN \S+\.\s+\w+)</regex>
      <order>url</order>
    </decoder>

    <decoder name="coredns-k8s-querytype">
      <parent>coredns-k8s</parent>
      <regex offset="after_parent">^(\S+) IN</regex>
      <order>protocol</order>
    </decoder>

    <decoder name="coredns-k8s-domain">
      <parent>coredns-k8s</parent>
      <regex offset="after_parent">IN (\S+)\.</regex>
      <order>dstdomain</order>
    </decoder>
