---
apiVersion: v1
kind: Service
metadata:
  name: wazuh
  namespace: security
  labels:
    app: wazuh-manager
spec:
  type: ClusterIP
  selector:
    app: wazuh-manager
    node-type: master
  ports:
    - name: api
      port: 55000
      targetPort: 55000
    - name: registration
      port: 1515
      targetPort: 1515
---
apiVersion: v1
kind: Service
metadata:
  name: wazuh-manager-lb
  namespace: security
  labels:
    app: wazuh-manager
spec:
  type: LoadBalancer
  selector:
    app: wazuh-manager
    node-type: master
  ports:
    - name: api
      port: 55000
      targetPort: 55000
    - name: registration
      port: 1515
      targetPort: 1515
