---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-decoder
  namespace: security
data:
  coredns_decoder.xml: |
    <!-- CoreDNS decoder for Kubernetes pod log format -->
    <decoder name="coredns-k8s">
      <program_name>coredns</program_name>
      <prematch>^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]+Z stdout F \[INFO\]</prematch>
    </decoder>

    <decoder name="coredns-k8s-query">
      <parent>coredns-k8s</parent>
      <regex offset="after_parent">^ *([^ ]+:[0-9]+) - ([0-9]+) "([^ ]+) IN ([^ ]+)\. ([[:alnum:]]+)</regex>
      <order>srcip, id, query_type, query_domain, protocol</order>
    </decoder>
