---
apiVersion: v1
kind: Service
metadata:
  name: wazuh-workers
  namespace: security
  labels:
    app: wazuh-manager
  # annotations:
  #   io.cilium/lb-ipam-ips: "192.168.35.18"
spec:
  type: ClusterIP
  selector:
    app: wazuh-manager
    node-type: worker
  ports:
    - name: agents-events
      port: 1514
      targetPort: 1514
    - name: syslog
      port: 514
      targetPort: 514
