---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-decoder
  namespace: security
data:
  coredns_decoder.xml: |
    <!-- CoreDNS decoder for Kubernetes pod log format -->
    <decoder name="coredns-k8s">
      <program_name>coredns</program_name>
      <prematch>stdout F \[INFO\]</prematch>
    </decoder>

    <decoder name="coredns-k8s-query">
      <parent>coredns-k8s</parent>
      <regex offset="after_parent">^ *(\S+:\d+) - (\d+) "(\S+) IN (\S+)\. (\w+)</regex>
      <order>srcip, id, query_type, query_domain, protocol</order>
    </decoder>
