---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-logs
spec:
  chartRef:
    kind: OCIRepository
    name: victoria-logs
  interval: 1h
  values:
    fullnameOverride: victoria-logs
    server:
      extraArgs:
        envflag.enable: true
        envflag.prefix: VM_
        loggerFormat: json
        httpListenAddr: :9428
        http.shutdownDelay: 15s
        syslog.listenAddr.tcp: ":514"
        syslog.listenAddr.udp: ":514"
        syslog.timezone: "America/New_York"
      persistentVolume:
        enabled: true
        storageClassName: openebs-hostpath
        size: 50Gi
      retentionPeriod: 14d
      service:
        extraPorts:
          - name: syslog-tcp
            port: 514
            targetPort: syslog-tcp
            protocol: TCP
      route:
        enabled: true
        hostnames:
          - logs.68cc.io
        parentRefs:
          - name: envoy-internal
            namespace: network
        extraRules:
          - filters:
              - type: RequestRedirect
                requestRedirect:
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: /select/vmui/
                  statusCode: 302
            matches:
              - path:
                  type: Exact
                  value: /
      serviceMonitor:
        enabled: true
    dashboards:
      enabled: true
