---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: bot-wrangler
  namespace: network
spec:
  wrangler:
    robotsTxtFilePath: /etc/traefik/bot-wrangler/robots.txt
    botAction: "BLOCK"
    robotsTxtDisallowAll: true
