---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: crowdsec-bouncer
  namespace: network
spec:
  plugin:
    crowdsec-bouncer-traefik-plugin:
      enabled: true
      crowdsecLapiHost: crowdsec-lapi.security.svc.cluster.local:8080
      crowdsecLapiScheme: http
      crowdsecLapiKeySecretName: crowdsec-bouncer-secret
      crowdsecLapiKeySecretKey: CROWDSEC_BOUNCER_KEY
      crowdsecMode: stream
      MetricsUpdateIntervalSeconds: 60
      remediationStatusCode: 403
      updateIntervalSecond: 60
      crowdsecAppsecEnabled: true
      crowdsecAppsecHost: crowdsec-appsec-service.security.svc.cluster.local:7422
      crowdsecAppsecFailureBlock: true
      crowdsecAppsecUnreachableBlock: true
      logLevel: INFO
      forwardedHeadersTrustedIPs:
        - 10.42.0.0/16
        - 192.168.35.0/24
      clientTrustedIPs:
        - 10.42.0.0/16
        - 192.168.35.0/25
