---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: crowdsec-bouncer
  namespace: network
spec:
  plugin:
    crowdsec-bouncer-traefik-plugin:
      enabled: false
      crowdsecLapiHost: crowdsec-service.security.svc.cluster.local:8080
      crowdsecLapiScheme: http
      crowdsecLapiKey: /etc/traefik/secrets/CROWDSEC_BOUNCER_KEY
      # crowdsecLapiTlsCertificateAuthorityFile: /etc/traefik/secrets/crowdsec-ca.crt
      # crowdsecLapiTlsCertificateBouncerFile: /etc/traefik/secrets/crowdsec-tls.crt
      # crowdsecLapiTlsCertificateBouncerKeyFile: /etc/traefik/secrets/crowdsec-tls.key
      crowdsecMode: stream
      MetricsUpdateIntervalSeconds: 60
      remediationStatusCode: 403
      updateIntervalSecond: 60
      crowdsecAppsecEnabled: true
      crowdsecAppsecHost: crowdsec-appsec-service.security.svc.cluster.local:7422
      crowdsecAppsecFailureBlock: false
      crowdsecAppsecUnreachableBlock: false
      logLevel: INFO
      forwardedHeadersTrustedIPs:
        - 10.42.0.0/16
        - 192.168.35.0/24
      clientTrustedIPs:
        - 10.42.0.0/16
        - 192.168.35.0/25
