---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
components:
  - ../../components/common
resources:
  - ./cloudflare-dns/ks.yaml
  - ./cloudflared/ks.yaml
  - ./envoy-gateway/ks.yaml
