---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  - ./cloudflare-dns/ks.yaml
  - ./cloudflared/ks.yaml
  - ./traefik/ks.yaml
